.container-fluid#contract
  .row
    .col-xs-12.col-md-6
      %fieldset.form-horizontal
        .form-group
          %label.col-md-6.control-label
            Kwota brutto:
          .col-md-6
            %input.form-control.input-md{"data-attr" => "document_amount_total",min: "0", name: "amount", type: "number", id: "amount", step: "any"}/
            %input{name: "total_amount_word", "data-in-words" => "amount", type: "hidden", readonly: "readonly"}/
    .col-xs-12.col-md-6
      %fieldset.form-horizontal
        .form-group
          %label.col-md-7.control-label
            Składka na ubezpieczenie wypadkowe[%]:
          .col-md-5
            %input.form-control.input-md{name: "skladka_wypadkowa", id:"skladka_wypadkowa", type: "number", max: 3.6, min: 0.67, step: "any", value: 1.8}/
  .row
    .segmented-control{style:"width: 100%; color: #5FBAAC"}
      %input#sc-1-1-1{:name => "sc-1-1", :type => "radio"}/
      %input#sc-1-1-2{:name => "sc-1-1", :type => "radio"}/
      %input#sc-1-1-3{:checked => "checked", :name => "sc-1-1", :type => "radio"}/
      %input#sc-1-1-4{:name => "sc-1-1", :type => "radio"}/
      %label{"data-value" => "Lorem Ipsum", :for => "sc-1-1-1"} Lorem Ipsum
      %label{"data-value" => "Risus Purus", :for => "sc-1-1-2"} Risus Purus
      %label{"data-value" => "Pellentesque Porta", :for => "sc-1-1-3"} Pellentesque Porta
      %label{"data-value" => "Fringilla", :for => "sc-1-1-4"} Fringilla
  .row
    .col-xs-12
      %fieldset.form-horizontal
        %legend 
        .col-xs-12.col-md-6
          .form-group
            %label.col-xs-8.control-label
              Nalicz ubezpieczenie społeczne:
            .col-xs-4
              .checkbox
                %input{type: "checkbox", id: "nalicz_spoleczne", name:"nalicz_spoleczne", "data-toggle" => "toggle", "data-size" =>"mini", "data-on"=>"Nalicz", "data-off"=>"Nie"}
          .form-group
            %label.col-xs-8.control-label
              Nalicz ubezpieczenie chorobowe:
            .col-xs-4
              .checkbox
                %input{type: "checkbox", id: "nalicz_chorobowe", name:"nalicz_chorobowe", "data-toggle" => "toggle", "data-size" =>"mini", "data-on"=>"Nalicz", "data-off"=>"Nie"}
          .form-group
            %label.col-xs-8.control-label
              Nalicz Fundusz Pracy:
            .col-xs-4
              .checkbox
                %input{type: "checkbox", id: "nalicz_fundusz_pracy", name:"nalicz_fundusz_pracy", "data-toggle" => "toggle", "data-size" =>"mini", "data-on"=>"Nalicz", "data-off"=>"Nie"}
        .col-xs-12.col-md-6    
          .form-group
            %label.col-xs-8.control-label
              Nalicz wyższe koszty uzyskania przychodu:
            .col-xs-4
              .checkbox
                %input{type: "checkbox", id:"nalicz_kup", name:"nalicz_kup", "data-toggle" => "toggle", "data-size" =>"mini", "data-on"=>"Nalicz", "data-off"=>"Nie"}
          .form-group
            %label.col-xs-8.control-label
              Nie naliczaj ubezpieczenia zdrowotnego:
            .col-xs-4
              .checkbox
                %input{type: "checkbox", id:"nalicz_zdrowotne", name:"nalicz_zdrowotne", "data-toggle" => "toggle", "data-size" =>"mini", "data-on"=>"Nalicz", "data-off"=>"Nie"}
          .form-group
            %label.col-xs-8.control-label
              Umowa zryczałtowana (poniżej 200 zł):
            .col-xs-4
              .checkbox
                %input{type: "checkbox", id:"umowa_zryczaltowana", name:"umowa_zryczaltowana", "data-toggle" => "toggle", "data-size" =>"mini", "data-on"=>"Nalicz", "data-off"=>"Nie"}
  .row
    .col-xs-12
      %fieldset.form-horizontal
        %legend Rachunek
        .col-xs-12.col-md-6
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie emerytalne
            .col-md-5
              %input.form-control.input-md{name: "ubezpieczenie_emerytalne", type: "text", readonly: "readonly", id:"emerytalne" }
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie rentowe
            .col-md-5
              %input.form-control.input-md{name: "ubezpieczenie_rentowe", type: "text", readonly: "readonly", id:"rentowe"}
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie chorobowe
            .col-md-5
              %input.form-control.input-md{ name: "ubezpieczenie_chorobowe", type: "text", readonly: "readonly", id: "chorobowe" }
          / .form-group
          /   %label.col-md-7.control-label
          /     Podstawa zdrowotnego
          /   .col-md-5
          /     %input.form-control.input-md{"data-formula" => "amount - ubezpieczenie_emerytalne - ubezpieczenie_rentowe - ubezpieczenie_chorobowe", name: "zdrowotne_podstawa", type: "text", readonly: "readonly", id:"podstawa_zdrowotnego"}
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie zdrowotne 9%
            .col-md-5
              %input.form-control.input-md{id: "zdrowotne", name: "ubezpieczenie_zdrowotne", type: "text", readonly: "readonly" }
          / .form-group
          /   %label.col-md-7.control-label
          /     Ubezpieczenie zdrowotne 7,75%
          /   .col-md-5
          /     %input.form-control.input-md{"data-formula" => "zdrowotne_podstawa * 0.0775", name: "ubezpieczenie_zdrowotne_odliczane", type: "text", readonly: "readonly", id:"zdrowotne_odliczane"}
          .form-group
            %label.col-md-7.control-label
              Koszty uzyskania przychodu
            .col-md-5
              %input.form-control.input-md{name: "kup", type: "text", readonly: "readonly", id:"kup" }
          .form-group
            %label.col-md-7.control-label
              Podstawa opodatkowania
            .col-md-5
              %input.form-control.input-md{name: "podstawa_opodatkowania", type: "text", readonly: "readonly", id:"podstawa_opodatkowania"}
          .form-group
            %label.col-md-7.control-label
              Zaliczka na podatek
            .col-md-5
              %input.form-control.input-md{name: "pobrana_zaliczka_podatek", type: "text", readonly: "readonly", id:"zaliczka_podatek"}
          .form-group
            %label.col-md-7.control-label
              Netto
            .col-md-5
              %input.form-control.input-md{id:"netto" , name: "do_wyplaty", type: "number", readonly: "readonly" }
              %input.form-control.input-md{name: "do_wyplaty_slownie", "data-in-words" => "do_wyplaty", type: "hidden", readonly: "readonly"}/
        .col-xs-12.col-md-6
          .form-group
            %label.col-md-7.control-label
              Składki społeczne pracodawcy razem
            .col-md-5
              %input.form-control.input-md{name: "pracodawca_spoleczne", type: "text", readonly: "readonly", id:"pracodawca_spoleczne" }
          .form-group
            %label.col-md-7.control-label
              Fundusz pracy
            .col-md-5
              %input.form-control.input-md{name: "pracodawca_fp", type: "text", readonly: "readonly" ,id: "pracodawca_fp"}
          .form-group
            %label.col-md-7.control-label
              Składki pracodawcy razem
            .col-md-5
              %input.form-control.input-md{id:"pracodawca_razem" , name: "pracodawca_razem", type: "text", readonly: "readonly" }
          .form-group
            %label.col-md-7.control-label
              Pełen koszt
            .col-md-5
              %input.form-control.input-md{ id: "pelen_koszt" , name: "pelen_koszt", type: "text", readonly: "readonly" }
  %fieldset.form-horizontal{"data-group" => "organization"}
    %input{name: "name", type: "hidden", 'data-default' => 'organization_name'}/
    %input{name: "address", type: "hidden",'data-default' => 'organization_address'}
    %input{name: "taxid", type: "hidden",'data-default' => 'organization_taxid'}
    %input{name: "phone", type: "hidden", 'data-default' => 'organization_phone'}

:javascript
  function contract_calc()
    {
      var brutto = document.getElementById('amount').value
      //spoleczne
      if (document.getElementById('nalicz_spoleczne').checked)
      {
        document.getElementById('emerytalne').value = (brutto*0.0976).toFixed(2);
        document.getElementById('rentowe').value = (brutto*0.015).toFixed(2);
        var wypadkowa = Number(document.getElementById('skladka_wypadkowa').value)/100
        document.getElementById('pracodawca_spoleczne').value = (brutto*(0.1626+ wypadkowa)).toFixed(2);
      }
      else
      {
        document.getElementById('emerytalne').value = Number(0).toFixed(2) ;
        document.getElementById('rentowe').value = Number(0).toFixed(2);
        document.getElementById('pracodawca_spoleczne').value = Number(0).toFixed(2);
      }
      //chorobowe
      if (document.getElementById('nalicz_chorobowe').checked)
      {
        document.getElementById('chorobowe').value = (brutto*0.0245).toFixed(2);
      }
      else
      {
        document.getElementById('chorobowe').value = Number(0).toFixed(2);
      }
      //zdrowotne
      var pod_zdr = brutto - document.getElementById('chorobowe').value - document.getElementById('rentowe').value - document.getElementById('emerytalne').value
      if (document.getElementById('nalicz_zdrowotne').checked)
      {
        var zdr_odl = 0
        document.getElementById('zdrowotne').value = 0.00;
      }
      else
      {
        document.getElementById('zdrowotne').value = (pod_zdr*0.09).toFixed(2);
        if (document.getElementById('umowa_zryczaltowana').checked)
        {
          var zdr_odl = 0
        }
        else
        {
          var zdr_odl = (pod_zdr*0.0775).toFixed(2)
        }
      }
      //Koszty uzyskania przychodu
      if (document.getElementById('umowa_zryczaltowana').checked)
      {
        document.getElementById('kup').value = 0
      }
      else
      {
         if (document.getElementById('nalicz_kup').checked)
        {
          document.getElementById('kup').value = (pod_zdr*0.5).toFixed(2);
        }
        else
        {
          document.getElementById('kup').value = (pod_zdr*0.2).toFixed(2);
        }
      }
      var kup = document.getElementById('kup').value
      //podstawa opodatkowania
      document.getElementById('podstawa_opodatkowania').value = Math.round(pod_zdr-kup).toFixed(2);
      var pod_opo = document.getElementById('podstawa_opodatkowania').value
      //zaliczka na podatek
      document.getElementById('zaliczka_podatek').value = Math.round((pod_opo*0.18)-zdr_odl).toFixed(2);
      // netto
      document.getElementById('netto').value = (pod_zdr - document.getElementById('zaliczka_podatek').value - document.getElementById('zdrowotne').value).toFixed(2);
      //fundusz pracy
       if (document.getElementById('nalicz_fundusz_pracy').checked)
      {
        document.getElementById('pracodawca_fp').value = (brutto*0.0245).toFixed(2);
      }
      else
      {
        document.getElementById('pracodawca_fp').value = Number(0).toFixed(2);
      }
      // skladki spoleczne pracodacy
      var fp =document.getElementById('pracodawca_fp').value
      document.getElementById('pracodawca_razem').value = (Number(document.getElementById('pracodawca_fp').value )+ Number(document.getElementById('pracodawca_spoleczne').value)).toFixed(2);
      //pelen koszt
      document.getElementById('pelen_koszt').value = (Number(brutto) + Number(document.getElementById('pracodawca_razem').value)).toFixed(2);
    }
  document.getElementById("contract").addEventListener("input", contract_calc);
  document.getElementById("contract").addEventListener("click", contract_calc);