-@minimalna_stawka = "2000 zł"
%table.table.table-striped
	%tr
		%th
			Status ubezpieczonego
		%th
			Ubezpieczenie społeczne
		%th
			Ubezpieczenie chorobowe
		%th
			Ubezpieczenie zdrowotne
	%tr
		%td
			PRACOWNIK CEO dotyczy wszystkich umów cywilnoprawnych
		%td
			OBOWIĄZKOWE
		%td
			OBOWIĄZKOWE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			STUDENT do ukończenia 26 lat lub złożenia egzaminu końcowego 
		%td
			Nie ma żadnych składek i nie ma dobrowolności – czyli nie może zdeklarować chęci ich potrącania
		%td

		%td

	%tr
		%td
			EMERYT / RENCISTA 
		%td
			OBOWIĄZKOWE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			EMERYT / RENCISTA zatrudniony w innej firmie na umowie o pracę i zarabiający miesięcznie więcej lub równo 
			=@minimalna_stawka 
		%td
			DOBROWOLNE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			EMERYT / RENCISTA zatrudniony w innej firmie  na umowie o pracę i zarabiający miesięcznie mniej niż 
			=@minimalna_stawka
		%td
			OBOWIĄZKOWE do wypełnienia kwoty 
			=@minimalna_stawka
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			PRACOWNIK innej firmy zarabiający miesięcznie więcej  lub równo 
			=@minimalna_stawka 
		%td
			DOBROWOLNE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			PRACOWNIK innej firmy zarabiający miesięcznie mniej niż 
			=@minimalna_stawka
		%td
			OBOWIĄZKOWE do wypełnienia kwoty 
			=@minimalna_stawka
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			PRACOWNIK CEO lub w innej firmie na urlopie MACIERZYŃSKIM
		%td
			DOBROWOLNE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			PRACOWNIK CEO lub w innej firmie na urlopie WYCHOWAWCZYM Obowiązek zgłoszeni u pracodawcy zawarcia umowy zlecenia w trakcie urlopu
		%td
			OBOWIĄZKOWE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			PRACOWNIK CEO lub w innej firmie na urlopie BEZPŁATNYM
		%td
			OBOWIĄZKOWE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			OSOBA bez  tytułu  do ubezpieczenia (nie student)
		%td
			OBOWIĄZKOWE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			ZLECENIOBIORCA mający w innej firmie zlecenie z pełnymi składkami ZUS w miesięcznej kwocie w wysokości więcej lub równo 
			=@minimalna_stawka 
		%td
			DOBROWOLNE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			ZLECENIOBIORCA mający w innej firmie zlecenie z pełnymi składkami ZUS w miesięcznej kwocie mniej  niż 
			=@minimalna_stawka
		%td
			OBOWIĄZKOWE do wypełnienia kwoty 
			=@minimalna_stawka
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			Osoba prowadząca DZIAŁALNOŚĆ GOSPODARCZĄ – odprowadza składki od podstawy 60 % prognozowanego miesięcznego wynagrodzenia
		%td
			DOBROWOLNE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			Osoba prowadząca DZIAŁALNOŚĆ GOSPODARCZĄ – odprowadza składki od podstawy 30 % prognozowanego miesięcznego wynagrodzenia
		%td
			OBOWIĄZKOWE do wypełnienia kwoty 
			=@minimalna_stawka
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
	%tr
		%td
			Osoba zrejestrowana w KRUS
		%td
			OBOWIĄZKOWE
		%td
			DOBROWOLNE
		%td
			OBOWIĄZKOWE
