.container-fluid#contract
  .row
    .col-xs-12.col-md-6
      %input{name: "template_name", type: "hidden", :value => "task_contract"}/
      %fieldset.form-horizontal{"data-group" => "contractor"}
        %legend Dane Wykonawcy
        .form-group
          %label.col-md-4.control-label
            Imię i nazwisko:
          .col-md-8
            %input.form-control.input-md{"data-select" => "name,national_id_number",name: "name", type: "text", list: "name", placeholder: "Imię Nazwisko"}/
            %datalist{id: "name"}
        .form-group
          %label.col-md-4.control-label
            Adres:
          .col-md-8
            %input.form-control.input-md{name: "address", :placeholder => "ulica numer, numer mieszkania, kod pocztowy, miasto", type: "text"}/
        .form-group
          %label.col-md-4.control-label
            Data urodzenia:
          .col-md-8
            %input.form-control.input-md{name: "birth_date", type: "date"}/
        .form-group
          %label.col-md-4.control-label
            Pesel:
          .col-md-8
            %input.form-control.input-md{"data-select" => "national_id_number,name",name: "national_id_number", type: "text", list: "national_id_number"}/
            %datalist{id: "national_id_number"}
        .form-group
          %label.col-md-4.control-label
            NIP:
          .col-md-8
            %input.form-control.input-md{name: "taxid", type: "text"}/
        .form-group
          %label.col-md-4.control-label
            Numer konta:
          .col-md-8
            %input.form-control.input-md{name: "acount_number", type: "text"}/
        .form-group
          %label.col-md-4.control-label
            Urząd skarbowy:
          .col-md-8
            %input.form-control.input-md{name: "tax_office", type: "text"}/
    .col-xs-12.col-md-6
      %fieldset.form-horizontal
        %legend Umowa
        .form-group
          %label.col-md-6.control-label
            Numer umowy:
          .col-md-6
            %input.form-control.input-md{"data-attr" => "document_name", name: "number", type: "text"}/
        .form-group
          %label.col-md-6.control-label
            Przedmiot umowy:
          .col-md-6
            %textarea.form-control{cols:  "50", name: "to_do", :rows => "4"}
        .form-group
          %label.col-md-6.control-label
            Data zawarcia umowy:
          .col-md-6
            %input.form-control.input-md{"data-attr" => "document_doc_date", name: "concluded_on", type: "date", "data-default" => "date_now"}/
        / .form-group
        /   %label.col-md-6.control-label
        /     Data rozpoczęcia umowy:
        /   .col-md-6
        /     %input.form-control.input-md{name: "start_date", type: "date", "data-default" => "date_now"}/
        .form-group
          %label.col-md-6.control-label
            Data przekazania dzieła:
          .col-md-6
            %input.form-control.input-md{name: "end_date", type: "date"}/
        .form-group
          %label.col-md-6.control-label
            Kwota brutto:
          .col-md-6
            %input.form-control.input-md{"data-attr" => "document_amount_total",min: "0", name: "amount", type: "number", id: "amount"}/
            %input{name: "total_amount_word", "data-in-words" => "amount", type: "hidden", placeholder: "Wpisz kwotę słownie", readonly: "readonly"}/
  .row
    .col-xs-12.col-md-6
      %fieldset.form-horizontal
        %legend Zamawiający
        .form-group
          %label.col-md-7.control-label
            Osoba reprezentująca:
          .col-md-5
            %input.form-control.input-md{name: "organization_representative", type: "text","data-default" => "last"}/
        .form-group
          %label.col-md-7.control-label
            Miejsce wystawienia umowy:
          .col-md-5
            %input.form-control.input-md{name: "city", type: "text", "data-default" => "last"}/
        .form-group
          %label.col-md-7.control-label
            Składka na ubezpieczenie wypadkowe[%]:
          .col-md-5
            %input.form-control.input-md{name: "skladka_wypadkowa", id:"skladka_wypadkowa", type: "number", max: 3.6, min: 0.67, step: "any", value: 1.8}/
    .col-xs-12.col-md-6
      %fieldset.form-horizontal
        %legend  Rachunek do umowy
        .form-group
          %label.col-xs-8.control-label
            Umowa dla własnego pracownika:
          .col-xs-4
            .checkbox
              %input{type: "checkbox", id: "nalicz_spoleczne", name: "nalicz_spoleczne"}
        / .form-group
        /   %label.col-xs-8.control-label
        /     Nalicz ubezpieczenie chorobowe:
        /   .col-xs-4
        /     .checkbox
        /       %input{type: "checkbox", id: "nalicz_chorobowe"}
        / .form-group
        /   %label.col-xs-8.control-label
        /     Nalicz Fundusz Pracy:
        /   .col-xs-4
        /     .checkbox
        /       %input{type: "checkbox", id: "nalicz_fundusz_pracy"}
        .form-group
          %label.col-xs-8.control-label
            Umowa z przekazaniem praw autorskich:
          .col-xs-4
            .checkbox
              %input{type: "checkbox", id:"nalicz_kup", name:"nalicz_kup"}
        / .form-group
        /   %label.col-xs-8.control-label
        /     Nie naliczaj ubezpieczenia zdrowotnego:
        /   .col-xs-4
        /     .checkbox
        /       %input{type: "checkbox", id:"nalicz_zdrowotne"}
        .form-group
          %label.col-xs-8.control-label
            Umowa zryczałtowana (poniżej 200 zł):
          .col-xs-4
            .checkbox
              %input{type: "checkbox", id:"umowa_zryczaltowana", name:"umowa_zryczaltowana"}
  .row
    .col-xs-12
      %fieldset.form-horizontal
        %legend Rachunek
        .col-xs-12.col-md-6
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie emerytalne
            .col-md-5
              %input.form-control.input-md{name: "ubezpieczenie_emerytalne", type: "text", readonly: "readonly", id:"emerytalne" }
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie rentowe
            .col-md-5
              %input.form-control.input-md{name: "ubezpieczenie_rentowe", type: "text", readonly: "readonly", id:"rentowe"}
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie chorobowe
            .col-md-5
              %input.form-control.input-md{ name: "ubezpieczenie_chorobowe", type: "text", readonly: "readonly", id: "chorobowe" }
          / .form-group
          /   %label.col-md-7.control-label
          /     Podstawa zdrowotnego
          /   .col-md-5
          /     %input.form-control.input-md{"data-formula" => "amount - ubezpieczenie_emerytalne - ubezpieczenie_rentowe - ubezpieczenie_chorobowe", name: "zdrowotne_podstawa", type: "text", readonly: "readonly", id:"podstawa_zdrowotnego"}
          .form-group
            %label.col-md-7.control-label
              Ubezpieczenie zdrowotne 9%
            .col-md-5
              %input.form-control.input-md{id: "zdrowotne", name: "ubezpieczenie_zdrowotne", type: "text", readonly: "readonly" }
          / .form-group
          /   %label.col-md-7.control-label
          /     Ubezpieczenie zdrowotne 7,75%
          /   .col-md-5
          /     %input.form-control.input-md{"data-formula" => "zdrowotne_podstawa * 0.0775", name: "ubezpieczenie_zdrowotne_odliczane", type: "text", readonly: "readonly", id:"zdrowotne_odliczane"}
          .form-group
            %label.col-md-7.control-label
              Koszty uzyskania przychodu
            .col-md-5
              %input.form-control.input-md{name: "kup", type: "text", readonly: "readonly", id:"kup" }
          .form-group
            %label.col-md-7.control-label
              Podstawa opodatkowania
            .col-md-5
              %input.form-control.input-md{name: "podstawa_opodatkowania", type: "text", readonly: "readonly", id:"podstawa_opodatkowania"}
          .form-group
            %label.col-md-7.control-label
              Zaliczka na podatek
            .col-md-5
              %input.form-control.input-md{name: "pobrana_zaliczka_podatek", type: "text", readonly: "readonly", id:"zaliczka_podatek"}
          .form-group
            %label.col-md-7.control-label
              Netto
            .col-md-5
              %input.form-control.input-md{id:"netto" , name: "do_wyplaty", type: "text", readonly: "readonly" }
              %input.form-control.input-md{name: "do_wyplaty_slownie", "data-in-words" => "do_wyplaty", type: "hidden", readonly: "readonly"}/
        .col-xs-12.col-md-6
          .form-group
            %label.col-md-7.control-label
              Składki społeczne pracodawcy razem
            .col-md-5
              %input.form-control.input-md{name: "pracodawca_spoleczne", type: "text", readonly: "readonly", id:"pracodawca_spoleczne" }
          .form-group
            %label.col-md-7.control-label
              Fundusz pracy
            .col-md-5
              %input.form-control.input-md{name: "pracodawca_fp", type: "text", readonly: "readonly" ,id: "pracodawca_fp"}
          .form-group
            %label.col-md-7.control-label
              Składki pracodawcy razem
            .col-md-5
              %input.form-control.input-md{id:"pracodawca_razem" , name: "pracodawca_razem", type: "text", readonly: "readonly" }
          .form-group
            %label.col-md-7.control-label
              Pełen koszt
            .col-md-5
              %input.form-control.input-md{ id: "pelen_koszt" , name: "pelen_koszt", type: "text", readonly: "readonly" }
  %fieldset.form-horizontal{"data-group" => "organization"}
    %input{name: "name", type: "hidden", 'data-default' => 'organization_name'}/
    %input{name: "address", type: "hidden",'data-default' => 'organization_address'}
    %input{name: "taxid", type: "hidden",'data-default' => 'organization_taxid'}
    %input{name: "phone", type: "hidden", 'data-default' => 'organization_phone'}

:javascript
  function task_contract_calc()
    {
      var brutto = document.getElementById('amount').value
      //wlasny pracownik
      if (document.getElementById('nalicz_spoleczne').checked)
      {
        document.getElementById('emerytalne').value = (brutto*0.0976).toFixed(2);
        document.getElementById('rentowe').value = (brutto*0.015).toFixed(2);
        var wypadkowa = Number(document.getElementById('skladka_wypadkowa').value)/100
        document.getElementById('pracodawca_spoleczne').value = (brutto*(0.1626+ wypadkowa)).toFixed(2);
        document.getElementById('chorobowe').value = (brutto*0.0245).toFixed(2);
        var pod_zdr = brutto - document.getElementById('chorobowe').value - document.getElementById('rentowe').value - document.getElementById('emerytalne').value
        document.getElementById('zdrowotne').value = (pod_zdr*0.09).toFixed(2);
        var zdr_odl = (pod_zdr*0.0775).toFixed(2)
        document.getElementById('pracodawca_fp').value = (brutto*0.0245).toFixed(2);
        var fp =document.getElementById('pracodawca_fp').value
        document.getElementById('pracodawca_razem').value = (Number(document.getElementById('pracodawca_fp').value )+ Number(document.getElementById('pracodawca_spoleczne').value)).toFixed(2);
      }
      else
      {
        document.getElementById('emerytalne').value = Number(0).toFixed(2);
        document.getElementById('rentowe').value = Number(0).toFixed(2);
        document.getElementById('pracodawca_spoleczne').value = Number(0).toFixed(2);
        document.getElementById('chorobowe').value = Number(0).toFixed(2);
        document.getElementById('zdrowotne').value = Number(0).toFixed(2);
        document.getElementById('pracodawca_fp').value = Number(0).toFixed(2);
        document.getElementById('pracodawca_razem').value = Number(0).toFixed(2);
        var zdr_odl = Number(0).toFixed(2)
        var pod_zdr = brutto
      }
      //Koszty uzyskania przychodu
      if (document.getElementById('nalicz_kup').checked)
      {
        document.getElementById('kup').value = (pod_zdr*0.5).toFixed(2);
      }
        else if (document.getElementById('umowa_zryczaltowana').checked)
        {
          document.getElementById('kup').value = Number(0).toFixed(2);
        }
        else
        {
          document.getElementById('kup').value = (pod_zdr*0.2).toFixed(2);
        }
      var kup = document.getElementById('kup').value
      //podstawa opodatkowania
      document.getElementById('podstawa_opodatkowania').value = Math.round(pod_zdr-kup).toFixed(2);
      var pod_opo = document.getElementById('podstawa_opodatkowania').value
      //zaliczka na podatek
      document.getElementById('zaliczka_podatek').value = Math.round((pod_opo*0.18)-zdr_odl).toFixed(2);
      // netto
      document.getElementById('netto').value = (pod_zdr - document.getElementById('zaliczka_podatek').value - document.getElementById('zdrowotne').value).toFixed(2);
      //pelen koszt
      document.getElementById('pelen_koszt').value = (Number(brutto) + Number(document.getElementById('pracodawca_razem').value)).toFixed(2);
    }
  document.getElementById("contract").addEventListener("input", task_contract_calc);
  document.getElementById("contract").addEventListener("click", task_contract_calc);