.container-fluid
  .col-xs-12.col-md-6
    %fieldset.form-horizontal
      %input{name: "template_name", type: "hidden", value: "work_contract"}/
      %legend Dane pracownika
      .form-group
        %label.col-md-4.control-label
          Imię:
        .col-md-8
          %input.form-control.input-md{name: "name", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          Nazwisko:
        .col-md-8
          %input.form-control.input-md{name: "surname", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          Drugie imię:
        .col-md-8
          %input.form-control.input-md{name: "second_name", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          Adres:
        .col-md-8
          %input.form-control.input-md{name: "address", :placeholder => "Ulica numer, numer lokalu, kod pocztowy miejscowość", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          PESEL:
        .col-md-8
          %input.form-control.input-md{name: "national_id_number", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          NIP:
        .col-md-8
          %input.form-control.input-md{name: "taxid", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          Imię ojca:
        .col-md-8
          %input.form-control.input-md{name: "father_name", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          Imię matki:
        .col-md-8
          %input.form-control.input-md{name: "mother_name", :type => "text"}/
      .form-group
        %label.col-md-4.control-label
          Data urodzenia:
        .col-md-8
          %input.form-control.input-md{name: "birth_date", :type => "date"}/
      .form-group
        %label.col-md-4.control-label
          Miejsce urodzenia:
        .col-md-8
          %input.form-control.input-md{name: "city_birth", :type => "text"}/
  .col-xs-12.col-md-6
    %fieldset.form-horizontal
      %legend Warunki umowy
      .form-group
        %label.col-md-6.control-label
          Miejsce wystawienia:
        .col-md-6
          %input.form-control.input-md{"data-default" => "last", name: "city", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Data wystawienia:
        .col-md-6
          %input.form-control.input-md{"data-default" => "date_now","data-attr" => "document_doc_date", name: "concluded_on", :type => "date"}/
      .form-group
        %label.col-md-6.control-label
          Osoba reprezentująca:
        .col-md-6
          %input.form-control.input-md{"data-default" => "last", name: "organization_representative", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Rodzaj umowy:
        .col-md-6
          %select.form-control{name: "contract_type"}
            %option{selected: "selected", value: "na okres próbny"} Na okres próbny
            %option{value: "na czas nieokreślony"} Na czas nieokreślony
            %option{value: "na czas określony"} Na czas określony
            %option{value: "na czas usprawiedliwionej nieobecności"} Umowa zastępstwa
      .form-group
        %label.col-md-6.control-label
          Data rozpoczęcia umowy:
        .col-md-6
          %input.form-control.input-md{name: "contract_start_date", :type => "date"}/
      .form-group
        %label.col-md-6.control-label
          Data zakończenia umowy:
        .col-md-6
          %input.form-control.input-md{name: "contract_end_date", :type => "date"}/
        / .col-md-1.checkbox
        /   %label
        /     %input{:type => "checkbox"}/
      .form-group
        %label.col-md-6.control-label
          Osoba zastępowana:
        .col-md-6
          %input.form-control.input-md{name: "standbay_person", :type => "text"}/
        / .col-md-1.checkbox
        /   %label
        /     %input{:type => "checkbox"}/
      .form-group
        %label.col-md-6.control-label
          Stanowisko:
        .col-md-6
          %input.form-control.input-md{name: "job", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Miejsce pracy:
        .col-md-6
          %input.form-control.input-md{"data-default" => "last", name: "workplace", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Wynagrodzenie:
        .col-md-6
          %input.form-control.input-md{:min => "0", name: "amount", :type => "number","data-attr" => "document_amount_total"}/
          %input{name: "amount_in_words", "data-in-words" => "amount", type: "hidden", readonly: "readonly"}/
      .form-group
        %label.col-md-6.control-label
          Tygodniowa norma czasu pracy:
        .col-md-6
          %input.form-control.input-md{name: "week_norm", "data-default" => "40 godzin tygodniowo", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Dobowa norma czasu pracy:
        .col-md-6
          %input.form-control.input-md{name: "day_norm", "data-default" => "8 godzin dziennie", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Wymiar etatu:
        .col-md-6
          %input.form-control.input-md{name: "job_part", "data-default" => "1 etat", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Wymiar urlopu:
        .col-md-6
          %input.form-control.input-md{name: "vacation", "data-default" => "26 dni rocznie", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Okres wypowiedzenia:
        .col-md-6
          %input.form-control.input-md{name: "notice", "data-default" => "1 miesiac", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Sposób wypłaty wynagrodzenia:
        .col-md-6
          %input.form-control.input-md{"data-default" => "last", name: "payment_way", :placeholder => "np. do ostatniego dnia miesiąca", :type => "text"}/
      .form-group
        %label.col-md-6.control-label
          Data rozpoczęcia pracy:
        .col-md-6
          %input.form-control.input-md{name: "first_day", :type => "date"}/
  %fieldset.form-horizontal{"data-group" => "organization"}
    %input{name: "name", type: "hidden", 'data-default' => 'organization_name'}/
    %input{name: "address", type: "hidden",'data-default' => 'organization_address'}