
!!!
%html{:lang => "pl"}
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		%meta{:content => "", :name => "description"}/
		%meta{:content => "", :name => "author"}/
		%title Freelancer - Start Bootstrap Theme
		/ Bootstrap Core CSS
		%link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
		/ Theme CSS
		%link{:href => "css/freelancer.min.css", :rel => "stylesheet"}/
		/ Custom Fonts
		%link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
		%link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
		%link{:href => "https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
	%body#page-top.index
		#skipnav
			%a{:href => "#maincontent"} Skip to main content
		/ Navigation
		%nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
			.container
				.ribbon.red
					%span TEST
				.ribbon-right.red
					%span TEST

				/ Brand and toggle get grouped for better mobile display
				.navbar-header.page-scroll
					%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
						%span.sr-only Toggle navigation
						Menu
						%i.fa.fa-bars
					%a.navbar-brand{:href => "#page-top"} Kalkulator UMC (TESTY)
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					%ul.nav.navbar-nav.navbar-right
						%li.hidden
							%a{:href => "#page-top"}
						%li.page-scroll
							%a{:href => "#Kalkulator"} Kalkulator
						%li.page-scroll
							%a{:href => "#about"} About
						%li.page-scroll
							%a{:href => "#table"} Status zleceniobiorcy
				/ /.navbar-collapse
			/ /.container-fluid
		/ Header
		%header
			#maincontent.container{:tabindex => "-1"}
				.row
					.col-lg-12
						.intro-text
							%h1.name Kalkulator umów cywilnoprawnych
							%hr.star-light/
							%span.skills oraz umów o pracę
		/ Kalkulator Grid Section
		%section#Kalkulator
			.container
				.row
					.col-lg-12.text-center
						%h2 Kalkulator
						%hr.star-primary/
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						%ul.nav.nav-pills
							%li.active
								%a{"data-toggle" => "tab", :href => "#contract"} Umowa zlecenia
							%li
								%a{"data-toggle" => "tab", :href => "#taskcontract"} Umowa o dzieło
							%li
								%a{"data-toggle" => "tab", :href => "#workcontract"} Umowa o pracę
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.tab-content
							#contract.tab-pane.fade.in.active
								.row
									.col-xs-12
										%p
											=render "pages/contract"
							#taskcontract.tab-pane.fade
								.row
									.col-xs-12
										%p
											=render "pages/taskcontract"
							#workcontract.tab-pane
								.row
									.col-xs-12
										%p
											=render "pages/workcontract"
		/ About Section
		%section#about.success
			.container
				.row
					.col-lg-12.text-center
						%h2 About
						%hr.star-light/
				/ .row
				/ 	.col-xs-12
				/ 		=render "pages/table"
		/ Contact Section
		%section#table
			.container
				.row
					.col-lg-12.text-center
						%h2 Status zleceniobiorcy
						%hr.star-primary/
				.row
					.col-xs-12
						=render "pages/table"
		/ Footer
		%footer.text-center
			.footer-above
				.container
					.row
			.footer-below
				.container
					.row
						.col-lg-12
							Copyright © Wojciech Kostański 2017
		/ Scroll to Top Button (Only visible on small and extra-small screen sizes)
		.scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
			%a.btn.btn-primary{:href => "#page-top"}
				%i.fa.fa-chevron-up
		/ jQuery
		%script{:src => "vendor/jquery/jquery.min.js"}
		/ Bootstrap Core JavaScript
		%script{:src => "vendor/bootstrap/js/bootstrap.min.js"}
		/ Plugin JavaScript
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
		/ Theme JavaScript
		%script{:src => "js/freelancer.min.js"}